# Tuist generated
*.xcodeproj
*.xcworkspace
Derived/

# Xcode
xcuserdata/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# macOS
.DS_Store
